<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      <style>
        p {
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2em;
        }
      </style>
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <header>
      <h2><a href="/">CGF Fitness Challenge</a></h2>
      <nav>
        <ul>
          <li><a href="/calc">Calculator</a></li>
          {%block nav%}{%endblock%}
        </ul>
      </nav>
    </header>
    {% block body %}{% endblock %}
  </body>
</html>
