{% extends "base.html" %}
{% block title %}Checkin Tier Calculator{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    form {
      max-width: 500px;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}
{% block body %}
<content class="grid">
  <form class="grid gap">
    <label for="challengers">Name:</label>
    <select id="challengers"  class="span2" name="challengers">
      {% for challenger in challengers %}
        <option 
          value="{{ challenger.bmr }}"
          {{'selected' if name == challenger.name}}
        >
          {{ challenger.name }}
        </option>
      {% endfor %}
    </select>
    <div></div>
    <label for="cals">Calories:</label>
    <input type="tel" class="span2" id="cals" name="cals" required>
    <div id="caltier" class="f3 center">Tier: —</div>
    <label for="time">Minutes:</label>
    <input type="tel" class="span2" id="time" name="time" required>
    <div id="timetier" class="f3 center">Tier: —</div>
    <button class="span4">Calculate</button>
  </form>
  <div class="center span3 f7">
    <span id="tier">Tier: —</span>
  </div>
</content>
<script>
const form = document.querySelector('form');
function checkinTier(bmr, cals, time) {
  // add one calorie because we're inclusive of tier start
  const calTier = Math.floor((20*(cals + 1))/bmr - 2);
  const timeTier = Math.floor(time/15-1);
  return {
    maxTier: Math.max(calTier, timeTier),
    calTier: calTier,
    timeTier: timeTier
  };
}
form.addEventListener('submit', (event) => {
  event.preventDefault();
  const bmr  = form.elements.challengers.value;
  // this only ever comes from an input value and the result goes nowhere
  const cals = eval(form.elements.cals.value);
  const time = eval(form.elements.time.value);
  const {
    maxTier,
    calTier,
    timeTier
  } = checkinTier(parseInt(bmr), parseInt(cals), parseInt(time))
  timetier.innerText = `Tier: ${timeTier}`
  caltier.innerText = `Tier: ${calTier}`
  tier.innerText = `Tier: ${maxTier}`;
  if (maxTier === calTier) {
    caltier.classList.add('bold');
  }
  if (maxTier === timeTier) {
    timetier.classList.add('bold');
  }
})
</script>
{% endblock %}
