{% extends "base.html" %}
{% block title %}Checkin Tier Chart for {{name}}{% endblock %}
{% block head %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}
{% block body %}
<h1>{{name}}</h1>
<h2>Settings</h2>
<form class="grid gap" method="POST">
  <label for="timezone">Timezone</label>
  <select id="timezone" name="timezone">
    <option 
      value="America/New_York"
      {{'selected' if timezone == 'America/New_York'}}
    >
      US Eastern
    </option>
    <option 
      value="America/Los_Angeles"
      {{'selected' if timezone == 'America/Los_Angeles'}}
    >
      US Pacific
    </option>
    <option 
      value="America/Chicago"
      {{'selected' if timezone == 'America/Chicago'}}
    >
      US Central
    </option>
    <option 
      value="America/Denver"
      {{'selected' if timezone == 'America/Denver'}}
    >
      US Mountain
    </option>
    <option 
      value="America/Phoenix"
      {{'selected' if timezone == 'America/Phoenix'}}
    >
      Arizona Time(fuckers don't observe dst)
    </option>
    <option 
      value="America/Anchorage"
      {{'selected' if timezone == 'America/Anchorage'}}
    >
      Alaska
    </option>
    <option 
      value="Pacific/Honolulu"
      {{'selected' if timezone == 'Pacific/Honolulu'}}
    >
      Hawaii
    </option>
    <option 
      value="Europe/London"
      {{'selected' if timezone == 'Europe/London'}}
    >
      UK
    </option>
    <option 
      value="Europe/Paris"
      {{'selected' if timezone == 'Europe/Paris'}}
    >
      Europe
    </option>
    <option 
      value="Asia/Tokyo"
      {{'selected' if timezone == 'Asia/Tokyo'}}
    >
      Japan
    </option>
    <option 
      value="Australia/Sydney"
      {{'selected' if timezone == 'Australia/Sydney'}}
    >
      Sydney
    </option>
  </select>
  <button>Update</button>
</form>
{% if not mulliganed %}
<button type="button">
  <a href="/mulligan/{{name}}">Mulligan Today</a>
</button>
{% else %}
<h3>You've already mulliganed this challenge!</h3>
{% endif %}
<h2>Tier Chart</h2>
<a href="/calc?name={{name}}">Use Calculator</a>
<table>
  <thead>
    <tr>
      <th>Tier</th>
      <th>Calories Burnt</th>
      <th>Time Spent</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {% for n in range(1,21) %}
    <tr>
      <td>{{n}}</td>
      <!-- Calc the percent multiply by bmr -->
      <td>{{((((7.5*n)/100)+0.075) * bmr)|round|int}}</td>
      <!-- Calc the time -->
      <td>{{(15*(1+n))|round|int}}</td>
      <!-- Calc the points -->
      <td>{{'%0.1f' % (0.9+0.1*n)}}</td>
    </tf>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
