<!DOCTYPE html>
<html>
  <head>
    <title>Week {{week}} Checkins</title>
    <meta property="og:title" content="Challenge Data" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}">
  </head>
  <body>
    <h1>Data for {{challenge[0]}}</h1>
    <main>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Total Checkins</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Total Possible</td>
              <td>{{weeks * 5}}</td>
            </tr>
          {% for row in points %}
            <tr>
              <td>{{row.1}}</td>
              <td>{{row.0}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
    <hr />
    {% for challenge in challenges %}
      <a href="/details?challenge_id={{challenge.3}}"><h2 style="display:inline">{{challenge.0}}</h2></a>
    {% endfor %}
  </body>
</html>

