<!DOCTYPE html>
<html>
  <head>
    <title>Week {{week}} Checkins</title>
    <meta property="og:title" content="Challenge Data" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
  </head>
  <body>
    <h1>Data for {{challenge[0]}}</h1>
    <a href="/">Weeks</a>
    <main>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Total Checkins</th>
            <th>Tier</th>
            <th>Payout</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Total Possible</td>
            <td>{{weeks * 5}}({{total_floating}})</td>
              <td></td>
              <td>${{total_ante_t2 + total_ante_t3 + total_ante_floating}}</td>
            </tr>
          {% if total_ante_floating > 0 %}
          <tr>
            <th>Floating</th>
            <th></th>
            <th></th>
            <th>${{total_ante_floating}}</th>
          </tr>
          {% for row in floating %}
            <tr>
              <td>{{row.1}}</td>
              <td>{{row.0}}</td>
              <td>{{row.2}}</td>
              <td>{{'$%0.2f' % (dollars_per_point_floating * row.0)}}</td>
            </tr>
          {% endfor %}
          {% endif %}
          {% if total_ante_t2 > 0 %}
          <tr>
            <th>T2</th>
            <th></th>
            <th></th>
            <th>${{total_ante_t2}}</th>
          </tr>
          {% for row in t2 %}
            <tr>
              <td>{{row.1}}</td>
              <td>{{row.0}}</td>
              <td>{{row.2}}</td>
              <td>{{'$%0.2f' % (dollars_per_point_t2 * row.0 if row.2 == 'T2' else dollars_per_point_t3 * row.0)}}</td>
            </tr>
          {% endfor %}
          {% endif %}
          {% if total_ante_t3 > 0 %}
          <tr>
            <th>T3</th>
            <th></th>
            <th></th>
            <th>${{total_ante_t3}}</th>
          </tr>
          {% for row in t3 %}
            <tr>
              <td>{{row.1}}</td>
              <td>{{row.0}}</td>
              <td>{{row.2}}</td>
              <td>{{'$%0.2f' % (dollars_per_point_t3 * row.0 if row.2 == 'T2' else dollars_per_point_t3 * row.0)}}</td>
            </tr>
          {% endfor %}
          {% endif %}
          <tr>
            <th> Knocked Out or T1 </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          {% for row in knocked_out %}
            <tr>
              <td>{{row.1}}</td>
              <td>{{row.0}}</td>
              <td>{{row.2}}</td>
              <td>$0</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>{{total_points}}</div>
    </main>
    <hr />
    {% for challenge in challenges %}
      <a href="/details?challenge_id={{challenge.3}}"><h2 style="display:inline">{{challenge.0}}</h2></a>
    {% endfor %}
  </body>
</html>

