{% extends "base.html" %}
{% block title %}Week {{week}} Checkins{% endblock %}
{% block head %}
    {{ super() }}
    <meta property="og:title" content="Challenge {{current_challenge}} Week {{current_week_index}}" />
    <meta property="og:description" content="Checkins for week {{current_week_index}}({{current_week_start}})" />
    <meta property="og:url" content="https://checkinviz.tcrez.dev/?week={{week}}&&year={{year}}" />
    <meta
      property="og:image"
      content="{{og_path}}"
    />
    <script type="text/javascript">
      window.onload = function() {
        challengeWeeks = [...document.querySelectorAll('.challenge_week')]
        function showSelectedWeek() {
          challengeWeeks.forEach(w => w.remove());
          const selectedWeek = challengeWeeks.find(w => w.name.includes(challenge.dataset.chosen))
          challenge.after(selectedWeek);
        }
        showSelectedWeek();
        challenge.addEventListener('change', showSelectedWeek);
      }
    </script>
    {% if green %}
    <style>
      body.green {
        background-color: #41ab5d;
        color: black;
      }
    </style>
    {% endif %}
{% endblock %}
{% block body_class %}
  {% if green %}green{% endif %}
{% endblock %}
{% block body %}
    <h1>Checkins for {{current_challenge}} Week {{current_week_index}}({{current_week_start}}) </h1>
      <label for="challenge">Challenge:</label>
    <form class="pure-form" id="challengeForm">
      <select 
        name="challenge"
        id="challenge"
        onchange="this.dataset.chosen = this.value;"
        data-chosen="{{current_challenge}}"
      >
        {% for challenge in challenge_weeks %}
          <option
            {{'selected' if challenge[0][0] == current_challenge }}
            value="{{challenge[0][0]}}"
            name="{{challenge[0][0]}}"
          >
            {{challenge[0][0]}}
          </option>
        {% endfor %}
      </select>
      {% for challenge in challenge_weeks %}
        <select
          name="challenge_week_{{challenge[0][0]}}"
          id="challenge_{{loop.index}}_weeks"
          class="challenge_week"
        >
          {% for week in challenge %}
            <option
              {{'selected' if loop.index == current_week_index and challenge[0][0] == current_challenge}}
              value="{{week[1]}}"
              name="{{loop.index}}"
            >
              Week: {{loop.index}}
            </option>
          {% endfor %}
        </select>
      {% endfor %}
      <button>View Week</button>
    </form>
    {% if viewing_this_week and green is none %}
      <form action="/make-it-green">
        <button>Make it Green?!</button>
      </form>
    {% endif %}
    <a href="/details?challenge_id={{challenge_id}}">Details</a>
    {{ svg | safe }}
    <p><b>Latest as of {{ latest.strftime("%A %m/%d/%Y %I:%M %p") }}</b></p>
{% endblock %}
