<!DOCTYPE html>
<html>
  <head>
    <title>Week {{week}} Checkins</title>
    <meta property="og:title" content="Week {{week}}" />
    <meta property="og:description" content="Checkins for week {{week}}" />
    <meta property="og:url" content="https://checkinviz.tcrez.dev/?week={{week}}&&year={{year}}" />
    <meta
      property="og:image"
      content="{{og_path}}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
      select.challenge_week {
        display: none;
      }
      {% for challenge in challenge_weeks %}
      select[data-chosen="{{challenge[0][0]}}"] ~ #challenge_{{loop.index}}_weeks {
        display: inline-block;
      }
      {% endfor %}
    </style>
  </head>
  <body>
    <h1>Checkins for {{current_challenge}} week {{current_week_index}} </h1>
    <form>
      <label for="challenge">Challenge:</label>
      <select 
        name="challenge"
        id="challenge"
        onchange="this.dataset.chosen = this.value;"
        data-chosen="{{current_challenge}}"
      >
        {% for challenge in challenge_weeks %}
          <option
            {{'selected' if challenge[0][0] == current_challenge }}
            value="{{challenge[0][0]}}"
            name="{{challenge[0][0]}}"
          >
            {{challenge[0][0]}}
          </option>
        {% endfor %}
      </select>
      {% for challenge in challenge_weeks %}
        <select
          name="challenge_week_{{challenge[0][0]}}"
          id="challenge_{{loop.index}}_weeks"
          class="challenge_week"
        >
          {% for week in challenge %}
            <option
              {{'selected' if loop.index == current_week_index}}
              value="{{week[1]}}"
              name="{{loop.index}}"
            >
              Week: {{loop.index}}
            </option>
          {% endfor %}
        </select>
      {% endfor %}
      <button>View Week</button>
    </form>
    <form action="/make-it-green">
      <button>Make it Green?!</button>
    </form>
    <a href="/details?challenge_id={{challenge_id}}">Details</a>
    {{ svg | safe }}
    <hr/>
    <p><b>Latest as of {{ latest.strftime("%m/%d/%Y %H:%M") }}</b></p>
  </body>
</html>

