table {
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #636363;
}

th {
  background-color: #41ab5d;
  color: white;
}

@media(hover: hover){
  tr:hover {
    background-color: #f7f7f7;
  }
}
