* {
  box-sizing: border-box;
}
a:visited, a {
  font-weight: normal;
}
svg a {
  text-decoration: underline;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  padding: 16px;
}
svg {
  margin: 50px auto 0 auto;
  display: block;
}
form {
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr;
}
form button, select, input {
  border: 1px solid #636363;
  padding: 8px;
  background-color: white;
  min-width: 100px;
  border-radius: 4px;
  apperance: none;
}
form button {
  grid-column: 1 / -1;
}
form button:active,
form select:active {
  background-color: #dfdfdf;
}
form label {
  align-self: center;
}
@media(hover: hover) {
  form button:hover,
  form select:hover {
    cursor: pointer;
  }
  a:hover {
    font-weight: bold;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #333;
  }
  body:not(.green) * {
    color: white;
    background-color: #333;
  }
  body:not(.green) form button,
  body:not(.green) form select {
    background-color: #333;
  }
  body:not(.green) svg text {
    fill: white;
  }
  body:not(.green) svg rect[fill="white"] {
    fill: #333;
  }
}

table {
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #636363;
}

th {
  background-color: #41ab5d;
  color: white;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #636363;
  margin-bottom: 24px;
}
header nav {
  flex: 1;
  text-align: right;
}
header h2 {
  font-size: 24px;
}
header a {
  text-decoration: none;
}
header li {
  list-style: none;
  display: inline-block;
  margin-right: 24px;
  font-size: 18px;
}

@media(hover: hover){
  tr:hover {
    background-color: #f7f7f7;
  }
}
